*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightslategray;
}

/* MAIN */
.container{
    
}

.box{
    width: 60%;
    margin: 450px auto;
    /* debug */
    background-color: purple;
    height: 400px;
}