*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
body{
    background-color: lightslategray;
}

img{
    max-height: 100%;
}

/* MAIN */
.container{
    
}

/* formattazione contenitore foto */
.box{
    text-align: center;
    width: 60%;
    margin: 450px auto;
    position: relative;
    height: 400px;
    display: none;
}

/* classe immagine attiva */
.active{
    display: block;
}

/* formattazione frecce */
.fa-solid{
    font-size: 25px;
    color: white;
    background-color: rgba(122, 122, 122, 0.5);
    padding: 0.2em 0.4em;
    border-radius: 50%;
    position: absolute;
}

.fa-caret-up{
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.fa-caret-down{
    bottom: 30%;
    left: 50%;
    transform: translate(-50%);
}